.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dcdcdc;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spur-title {
    width: 150px;
}

.login-text {
    font-family: 'Jost', sans-serif;
    margin-bottom: 20px;
}

.login-link {
    color: #23A3EB;
    text-decoration: none;
}

.input-field {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-family: 'Jost'; 
    font-size: 16px;
    padding: 10px;
    margin: 5px;
  }
    
.signin__button{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.submit-button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #23A3EB;
    color: white;
    cursor: pointer;
}




